In [1]:
import pandas as pd
agc_data = pd.read_csv('/project_data/data_asset/Dataset_AGC_Final.csv')
agc_data.head()

,Name,NRIC,Nationality,Age,Gender,Date(s) of Offence,Offence,Time of Offence,Monetary amount involved,Statutory Provision,Penal Code Term Tenure,Penal Code Fine Guideline,Repeated Offender,Employment Status,Canning,Jail term,Fine
0,Tan Ah Kow,S1234567X,Singaporean,51,Male,10/01/2016-04/04/2016,Misappropriation,NaN,35000.00,408,15,5000.0,Yes,Unemployed,0,12.0,6000.0
1,Charles Goh,G1234567T,Malaysian,37,Male,5/9/17,Misappropriation,4:00:00 PM,900.00,"406 , 34",7,100.0,No,Employed,0,3.0,100.0
2,Lim Swee Noi,S7654321X,Singaporean,35,Female,7/4/19,Misappropriation,NaN,3500.25,408,15,1000.0,Yes,Employed,0,5.0,1200.0
3,Vincent Loh,S8763456B,Singaporean,44,Male,12/7/18,Outrage Modesty,4:00:00 PM,NaN,354(1),2,500.0,No,Unemployed,5,1.0,500.0
4,Tan Ser Kow,S4567899B,Malaysian,34,Male,12/6/18,Outrage Modesty,5:00:00 PM,NaN,354(1),2,400.0,Yes,Unemployed,8,1.0,480.0

In [2]:
agc_data.describe()

,Age,Monetary amount involved,Penal Code Term Tenure,Penal Code Fine Guideline,Canning,Jail term,Fine
count,512.000000,267.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,39.730469,11179.899813,7.253906,1063.925781,2.908203,3.788086,1196.066406
std,9.886123,7317.368045,5.798136,708.475679,3.307078,3.276034,815.694844
min,21.000000,800.000000,1.000000,0.000000,0.000000,0.500000,0.000000
25%,32.000000,5000.000000,2.000000,700.000000,0.000000,1.000000,700.000000
50%,38.000000,10000.000000,7.000000,900.000000,0.000000,2.000000,1000.000000
75%,45.000000,12500.000000,15.000000,1200.000000,5.000000,6.000000,1440.000000
max,67.000000,35000.000000,15.000000,5000.000000,14.000000,12.000000,6000.000000

In [3]:
agc_data.dtypes

Name                          object
NRIC                          object
Nationality                   object
Age                            int64
Gender                        object
Date(s) of Offence            object
Offence                       object
Time of Offence               object
Monetary amount involved     float64
Statutory Provision           object
Penal Code Term Tenure         int64
Penal Code Fine Guideline    float64
Repeated Offender             object
Employment Status             object
Canning                        int64
Jail term                    float64
 Fine                        float64
dtype: object

In [4]:
existing = list(agc_data.columns)
modified_cols = [each.strip() for each in existing]
agc_data.columns = modified_cols

In [5]:
Unwanted_cols = ['Time of Offence','Date(s) of Offence','Name','NRIC']
agc_data.drop(Unwanted_cols,axis =1,inplace=True)

In [6]:
agc_data.shape

(512, 13)

### Categorical boolean mask

In [11]:
categorical_feature_mask = agc_data.dtypes==object

### Filter categorical columns using mask and turn it into a list

In [12]:
categorical_cols = agc_data.columns[categorical_feature_mask].tolist()
categorical_cols

[]

In [8]:
# apply le on categorical feature columns
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
agc_data[categorical_cols] = agc_data[categorical_cols].apply(lambda col: encoder.fit_transform(col))
agc_data.head()

,Nationality,Age,Gender,Offence,Monetary amount involved,Statutory Provision,Penal Code Term Tenure,Penal Code Fine Guideline,Repeated Offender,Employment Status,Canning,Jail term,Fine
0,4,51,1,0,35000.00,2,15,5000.0,1,1,0,12.0,6000.0
1,2,37,1,0,900.00,1,7,100.0,0,0,0,3.0,100.0
2,4,35,0,0,3500.25,2,15,1000.0,1,0,0,5.0,1200.0
3,4,44,1,1,NaN,0,2,500.0,0,1,5,1.0,500.0
4,2,34,1,1,NaN,0,2,400.0,1,1,8,1.0,480.0

In [9]:
agc_data['Monetary amount involved'].fillna(0, inplace=True)
agc_data.head()

,Nationality,Age,Gender,Offence,Monetary amount involved,Statutory Provision,Penal Code Term Tenure,Penal Code Fine Guideline,Repeated Offender,Employment Status,Canning,Jail term,Fine
0,4,51,1,0,35000.00,2,15,5000.0,1,1,0,12.0,6000.0
1,2,37,1,0,900.00,1,7,100.0,0,0,0,3.0,100.0
2,4,35,0,0,3500.25,2,15,1000.0,1,0,0,5.0,1200.0
3,4,44,1,1,0.00,0,2,500.0,0,1,5,1.0,500.0
4,2,34,1,1,0.00,0,2,400.0,1,1,8,1.0,480.0

In [10]:
agc_data.describe()

,Nationality,Age,Gender,Offence,Monetary amount involved,Statutory Provision,Penal Code Term Tenure,Penal Code Fine Guideline,Repeated Offender,Employment Status,Canning,Jail term,Fine
count,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000,512.000000
mean,3.134766,39.730469,0.708984,0.478516,5830.143066,0.855469,7.253906,1063.925781,0.591797,0.406250,2.908203,3.788086,1196.066406
std,1.358960,9.886123,0.454675,0.500027,7689.150685,0.890595,5.798136,708.475679,0.491982,0.491613,3.307078,3.276034,815.694844
min,0.000000,21.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
25%,2.000000,32.000000,0.000000,0.000000,0.000000,0.000000,2.000000,700.000000,0.000000,0.000000,0.000000,1.000000,700.000000
50%,4.000000,38.000000,1.000000,0.000000,3000.000000,1.000000,7.000000,900.000000,1.000000,0.000000,0.000000,2.000000,1000.000000
75%,4.000000,45.000000,1.000000,1.000000,10000.000000,2.000000,15.000000,1200.000000,1.000000,1.000000,5.000000,6.000000,1440.000000
max,4.000000,67.000000,1.000000,1.000000,35000.000000,2.000000,15.000000,5000.000000,1.000000,1.000000,14.000000,12.000000,6000.000000

In [14]:
Y = agc_data.iloc[:,10:]
X = agc_data.iloc[:,:10]

In [41]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
knnregress = KNeighborsRegressor()
rfregressor = RandomForestRegressor()

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(409, 10) (409, 3)
(103, 10) (103, 3)

In [43]:
knnregress.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [44]:
rfregressor.fit(X_train,y_train)

/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [45]:
predictions_1 = knnregress.predict(X_test)
predictions_2 = rfregressor.predict(X_test)

In [46]:
from sklearn.metrics import r2_score
score_knn = r2_score(y_test,predictions_1)
score_rf = r2_score(y_test,predictions_2)
score_knn,score_rf

(0.9775449203934948, 0.9539225083938412)

In [47]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [48]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)
grid_search.best_params_

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:   24.2s
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:   54.4s
[Parallel(n_jobs=-1)]: Done 644 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed:  2.2min finished
/opt/conda/envs/Python36/lib/python3.6/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

{'bootstrap': True,
 'max_depth': 80,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 8,
 'n_estimators': 200}

In [49]:
best_grid = grid_search.best_estimator_
best_grid

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=80,
           max_features=3, max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=3,
           min_samples_split=8, min_weight_fraction_leaf=0.0,
           n_estimators=200, n_jobs=None, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [50]:
predictions = best_grid.predict(X_test)
core_rf = r2_score(y_test,predictions)
core_rf

0.9686501986658506